<table *ngIf="Emp.length>=1">
   <tr>
        <th>ENO</th>
        <th>ENAME</th>
        <th>SALARY</th>
    </tr>
    <tr *ngFor="let employee of Emp">
        <td>{{employee.eno}}</td>
        <td>{{employee.ename}}</td>
        <td>{{employee.esal}}</td>
        <td><input type="button" value="Edit" (click)="employee.editable=!employee.editable"></td>
        <td><input type="button" value="Delete" (click)="deleteEmp(employee)"></td>
        <br/>
        <td><app-emp-update [updateEmp]="employee" (setUpdatedEmp)="updateEmp($event)" *ngIf="employee.editable"></app-emp-update></td>
    </tr>
    
</table>

