<table *ngIf="Emp.length>=1">
   <tr>
        <th>ENO</th>
        <th>ENAME</th>
        <th>SALARY</th>
    </tr>
    <tr *ngFor="let employee of Emp">
        <td>{{employee.eno}}</td>
        <td>{{employee.ename}}</td>
        <td>{{employee.esal}}</td>
        <td><input type="button" value="Edit" (click)="editEmp(employee)"></td>
        <td><input type="button" value="Delete" (click)="deleteEmp(employee)"></td>
        
    </tr>
    
</table>
<br/>
<app-emp-update [updateEmp]="editeEmp" *ngIf="updateBtnClicked"></app-emp-update>

